.posts {
  border: 1px solid lightgray;
  width: 350px;
  /* background: pink; */
  height: 500px;
  margin-top: 10px;
}
.post-header {
  height: 10%;
  display: flex;
  align-items: center;
  /* background: coral; */
}
.post-profile-image {
  width: 20%;
  height: 100%;
}
.post-profile-image img {
  height: 110%;
  width: 120%;
  /* margin: -3px; */
}
.post-profile-name {
  margin-left: 25px;
}
.post-image {
  height: 50%;
  /* background: yellow; */
}
.post-image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.post-stats {
  height: 10%;
  /* background: greenyellow; */
  display: flex;
}
.post-stats-name {
  font-weight: bold;
}
.post-stats-caption {
  margin-left: 10px;
}
.post-comments {
  height: 25%;
}
.post-add-comments {
  height: 5%;
  /* background: brown; */
  border-top: 1px solid lightgray;
  display: flex;
}
.post-add-comments input {
  width: 90%;
  outline: none;
  border: none;
}
